@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    font-family: 'Libre Franklin';
}

#main {
    max-height: 100vh;
    
}

.bg-black {
    background-color: #040707;
}


.text-separator {
    color: gray;
}

.avatar {
    width: 200px;
    height: 200px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.nav-links {
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    padding: 5px;
}

.nav-line {
    display: inline-block;
    width: 30px;
    height: 1px;
    border-top: solid gray 2px;
    margin-right: 3px;
    color: gray;
}


.skills-line {
    display: inline-block;
    width: 40px;
    height: 1px;
    border-top: solid white 2px;
    margin-left: 3px;
    color: white;
}

.skills-label h5 {
    display: inline-block;
}

.skills-label{
    display: flex;
    align-items: center;
    justify-content: left;
}


.nav-link-text {
    color: gray;
}

.nav-line.active-link + .nav-link-text {
    color: white;
}


.nav-links li:hover > .nav-line{
    animation: extend-line 1s forwards;
}

.active-link {
    width: 70px;
}

.experience-details {
    color: gray;
}

.experience-details:hover {
    color: white;
}

.experience-details > h5 {
    font-family: 'Libre Franklin';
    font-weight: 900;
    text-transform: lowercase;
}

.nav-line.active-link {
    border-top: solid white 2px;
}

.nav-links li:hover {
    cursor: pointer
}

@keyframes extend-line {
    100% {
        width: 70px;
    }
}

.nav-links li {
    display: flex;
    align-items: center;
}

.extra-bold {
    font-weight: 900;
    font-size: 6vh;
}

.semi-bold {
    font-weight: 700;
    font-size: 6vh;
    font-style: italic;
}

.text-light {
    font-weight: 200;
}

#footer .border {
    border-color: gray !important;
}

.footer-icon, .contact-link, .contact-handle {
    color: gray;
    display: inline-block;
}

.contact-link:hover ~ .contact-handle {
    color: white;
}

a:hover .footer-icon, .contact-link:hover {
    color: white;
}

.footer-link, .contact-link {
    text-decoration: none;
}

.skills-badges {
    width: 300px;
}

@media only screen and (min-width: 576px) {
    .info h1, .info h2 {
        font-size: 7vh;
    }

}

@media only screen and (min-width: 992px) {
    .info h1, .info h2 {
        font-size: 8vh;
    }

    .skills-label{
        justify-content: right;
    }

    .skills-badges {
        width: 400px;
    }

}

@media only screen and (min-width: 1200px) {
    .info h1, .info h2 {
        font-size: 10vh;
    }

    .skills-badges {
        width: 400px;
    }

}